.office-gymnastic__images {
    padding: 0;
}

.office-gymnastic__Image {
    display: inline;
}

    .office-gymnastic__Image img {
        width: 100%;
        margin-bottom: 1rem;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        /*border-radius: 50%;*/
    }

@media(min-width: 40rem) {
    .office-gymnastic__Image img {
        width: 31%;
        vertical-align: middle;
        margin: 0 1rem;
    }

    .gymnastic-description {
        width: 50%;
        margin: 1rem auto;
        text-align: center;
    }

    .gymnastic-benefits {
        width: 45%;
        margin: 1rem auto;
    }
}
