@page "/massages/classical-massage"

<img class="page-main-image" src="./images/massages/classical-massage.jpg" />
<h1 class="text-title">Лечебен класически масаж</h1>
<p class="massage-description">
    Лечебния масаж е пасивен метод на кинезитерапията. Тази методика представлява дозирани маханични дразнения върху тялото, чрез различни похвати.
</p>
<h1 class="text-title">Ползи от лечебния класическия масаж</h1>
<ul class="massage-benefits">
    <li>Общотонизиращо, релаксиращо, обезболяващо действие</li>
    <li>Оказва влияние върху повърхностните венозни съдове и капиляри, по този начин се подобрява кръвообръщението, трофиката на тъканите(храненето),обмянатанавеществата</li>
    <li>Подобрява еластичността и тонуса на мускулите</li>
    <li>Подобрява гъвкавостта на ставните връзки</li>
    <li>Подържане на оптималния обем на движение в ставите</li>
</ul>
