@page "/massages/massage-collar"

<img class="page-main-image" src="./images/massages/massage-collar.jpg" />
<h1 class="text-title">Масажна яка</h1>
<p class="massage-description">
    Този тип масаж обхваща част от гърба, долния край на лопатките, раменете, ръцете, врата и задната окосмена част на главата. Въздейства по нервно – рефлекторен път за обезболяване, релаксиране или тонизиране и ободряване.
</p>
<h1 class="text-title">Ползи от масажната яка</h1>
<ul class="massage-benefits">
    <li>Облекчаване на болката</li>
    <li>Корекция на позата</li>
    <li>Намаляване на напрежението в мускулите</li>
    <li>Повишава кислородното насищане и кръвообръщението</li>
    <li>Подържане на оптималния обем на движение в ставите</li>
</ul>