@page "/massages/massage-pregnancy"

<img class="page-main-image" src="./images/massages/pregnancy-massage.jpg" />
<h1 class="text-title">Масаж за бременни</h1>
<p class="massage-description">
    Масажа е разработен върху специалните нужди на бъдещата майка. Този тип масаж, трябва да се изпълнява изключително внимателно от квалифициран специалист. Докато тялото преминава през редица промени по време на бременността, те от своя страна водят до:
    Общи неразположения, мускулен и ставен дискомфорт, болки в гърба, кръста и врата, крампи, отици и тежест в долните крайници, главоболие и др.
</p>
<h1 class="text-title">Ползи от масажа за бременни</h1>
<ul class="massage-benefits">
    <li>Отпуска мускулите и намалява напрежението в тях</li>
    <li>Подобрява стойката (облекчава напрежението върху гръбнака, което се увеличава, заради нарастващото тегло на бебето)</li>
    <li>Подобрява кръвния ток (повече кислород и хранителни вещества за майката и плода)</li>
    <li>Стимулира лимфния ток (подобрява имунитета)</li>
    <li>Подбрява еластичността на кожата и подлежащите тъкани</li>
    <li>Стимулира освобождаването на хормона едндорфин, който успокоява нервната система, намалява стреса, подбрява настроението и качеството на съня</li>
</ul>