@page "/massages/sports-massage"

<img class="page-main-image" src="./images/massages/sportal-massage.jpg" />
<h1 class="text-title">Спортен Масаж</h1>
<p class="massage-description">
    Спортния масаж е разновидност на класическия масаж, специално пригоден на отговаря на изискванията на активно спортуващите хора и спортистите. Тазиметодикаенеизменначаст от тренировъчния процес на всеки спортист и акивно спортуващ човек, тя е пряко свързана с постигането на високи спортни постижения.Спортниямаса е разработенда помага в подготовката за дадено състезание, да ускорява възтановителния процес след вискоко – интензивна тренировка и даподобрикачеството натренировъчнияпроцес.
</p>
<h1 class="text-title">Основни цели</h1>
<ul class="massage-benefits">
    <li>Да предотврати натрупаната умора / намалява напрежението в мускулите</li>
    <li>Подобряване на мускулния тонус</li>
    <li>Подобряване на гъвкавостта в ставите</li>
    <li>Премахване на дискомфорта и болката</li>
</ul>