@page "/massages/zonotherapy"

<img class="page-main-image" src="./images/massages/zonotherapy.jpg" />
<h1 class="text-title">Зонотерапия (масаж на стъпала)</h1>
<p class="massage-description">
    Според китайската медицина всеки органа на човешкото тяло е отразен върху стъпалото. Правейки масаж на стъпалата, може да повлияем рефлекторно на органи и системи в тялото. Усещането от тази процедура е изключително приятно, след нея се усеща облекчение в зоната на ходилата. Масажът е подходящ както за самостоятелнна процедура, така и за комбинация с масаж на гръб или на цяло тяло.
</p>