@page "/office-gymnastic"

<Row Margin="Margin.Is4.FromTop">
    <Column ColumnSize="ColumnSize.Is12.OnMobile">
        <img class="page-main-image" src="./images/office-gymnastic/office-gymnastic-main.jpg" />
        <h1 class="text-title">Офис гимнастика</h1>
        <p class="gymnastic-description">
            Хората прекарват все повече време пред компютъра, поради тази причина, болките и дискомфорта немимуемо не закъняват. Съсредоточени върху работния процес не осъзнаваме, че прекарваме цели часове в една и съща поза, което във времето оказва негативен ефект върху гръбначния стълб и периферните стави.
            Нашата офис гимнастика е съчетание от лечебна и изправителна гимнастика, тя е едно от основните средства на кинезитерапията. В нея се включват специализирани и целенасочени упражнения за корегиране на стойката, подобряване на силата, еластичността и издражливостта на мускулатурата. Упражненията имат профилактичен и лечебен ефект.
        </p>
        <h1 class="text-title">Ползи от офис гимнастиката?</h1>
        <ul class="gymnastic-benefits">
            <li>Подобрява повижността на гръбначния стълб</li>
            <li>Засилва отслабените мускулни групи, като по този начин се изгражда мускулен корсет за тялото</li>
            <li>Подобрява мускулния тонус</li>
            <li>Изгражда се самоконтрол за поддържане на правилна стойка, по този начин се постига превантивен ефект, от развитие на дегенеративни изменения в ставно – мускулния апарад</li>
        </ul>
    </Column>
</Row>
<section id="office-gymnastic">
    <ul class="office-gymnastic__images">
        <li class="office-gymnastic__Image">
            <img src="./images/office-gymnastic/office-gymnastic-1.jpg" alt="Office Gymnastic" />
        </li>
        <li class="office-gymnastic__Image">
            <img src="./images/office-gymnastic/office-gymnastic-1.jpg" alt="Office Gymnastic" />
        </li>
        <li class="office-gymnastic__Image">
            <img src="./images/office-gymnastic/office-gymnastic-1.jpg" alt="Office Gymnastic" />
        </li>
    </ul>
</section>