@page "/office-massage"

<Row Margin="Margin.Is4.FromTop">
    <Column ColumnSize="ColumnSize.Is12.OnMobile">
        <h1 class="text-title">Офис масаж</h1>
        <img class="page-main-image" src="./images/office-massage/office-massage1.jpg"/>
        <Paragraph Alignment="TextAlignment.Left">
            Това е вид процедура,която се предлага на работното място. Масажът е с по-кратка продължителност 15-30 мин. Клиентът е седнал на специализиран масажен стол и е облечен. Офис масажа се състои от ефективни техники,базирани на класическия масаж,раздвижването,акопресурата и масаж върху проблемните зони. Най-честите оплаквания са от натрупано напрежение и умора в гърба, врата, раменете и ръцете. Използва се специфичен натиск с директно въздействие върху мускулите и ставите.
        </Paragraph>
        <h1 class="text-title">Ползи от офис масажа?</h1>
        <ul class="massage-benefits">
            <li>Въздейства стимулиращо на цялото тяло</li>
            <li>Успокоява нервната система и намалява стреса</li>
            <li>Облекчава болките и схващанията</li>
            <li>Увеличава притока на кислород  до мозъка,кото по-този начин служителите стават по-работоспособни и продуктивни</li>
            <li>Стимулира лимфата и кръвообръщеноето, което подобрява тъканния метаболизъм</li>
            <li>Подобрява стойката</li>
        </ul>
        <h1 class="text-title">Защо офис масаж?</h1>
        <ul class="massage-benefits">
            <li>Пести време и средства</li>
            <li>Успокоява нервната система и намалява стреса</li>
            <li>Намалява отсъствието на служителите</li>
            <li>Не нарушава работния процес</li>
            <li>Превръща работното място в зона на удоволстивие и релакс</li>
            <li>Повишава концентрацията и рабоспособността</li>
        </ul>
    </Column>
</Row>
<section id="office-massage">
    <ul class="office-massage__images">
        <li class="office-massage__Image">
            <img src="./images/office-massage/office-massage1.jpg" alt="Alternate Text" />
        </li>
        <li class="office-massage__Image">
            <img src="./images/office-massage/office-massage2.jpg" alt="Alternate Text" />
        </li>
        <li class="office-massage__Image">
            <img src="./images/office-massage/office-massage3.jpg" alt="Alternate Text" />
        </li>
    </ul>
</section>
<!--<Row Margin="Margin.Is4.FromTop">
    <img src="images/office-massage/office-massage-info.jpg" alt="offise-massage" />-->
    @*<Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnDesktop">
        <Figure Size="FigureSize.Is256x256">
            <FigureImage Rounded="true" Source="images/office-massage/office-massage-info.jpg" AlternateText="Is256x256" />
        </Figure>
    </Column>
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnDesktop">
        <Figure Size="FigureSize.Is256x256">
            <FigureImage Class="float-right" Rounded="true" Source="images/office-massage/office-massage-info.jpg" AlternateText="Is256x256" />
        </Figure>
    </Column>
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnDesktop">
        <Figure Size="FigureSize.Is256x256">
            <FigureImage Rounded="true" Source="images/office-massage/office-massage-info.jpg" AlternateText="Is256x256" />
        </Figure>
    </Column>*@
<!--</Row>-->

