@page "/pricing"

<Row Margin="Margin.Is4.FromTop">
    <Column ColumnSize="ColumnSize.Is8.Is2.WithOffset">
        <Heading Alignment="TextAlignment.Center">Офис Масажи</Heading>
        <Table>
            <TableHeader ThemeContrast="ThemeContrast.Light">
                <TableRow>
                    <TableHeaderCell>Вид масаж</TableHeaderCell>
                    <TableHeaderCell>Продължителност</TableHeaderCell>
                    <TableHeaderCell>Цена</TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                <TableRow>
                    <TableRowHeader>Масажна яка</TableRowHeader>
                    <TableRowCell>15 минути</TableRowCell>
                    <TableRowCell>8 лева</TableRowCell>
                </TableRow>
                <TableRow>
                    <TableRowHeader>Масажна яка</TableRowHeader>
                    <TableRowCell>25 минути</TableRowCell>
                    <TableRowCell>14 лева</TableRowCell>
                </TableRow>
            </TableBody>
        </Table>
    </Column>
</Row>

<Row Margin="Margin.Is4.FromTop">
    <Column ColumnSize="ColumnSize.Is8.Is2.WithOffset">
        <Heading Alignment="TextAlignment.Center">Масажи</Heading>
        <Table>
            <TableHeader ThemeContrast="ThemeContrast.Light">
                <TableRow>
                    <TableHeaderCell>Вид масаж</TableHeaderCell>
                    <TableHeaderCell>Продължителност</TableHeaderCell>
                    <TableHeaderCell>Цена</TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                <TableRow>
                    <TableRowHeader>Класически</TableRowHeader>
                    <TableRowCell>60 минути</TableRowCell>
                    <TableRowCell>40 лева (30 лева с карта мултиспорт)</TableRowCell>
                </TableRow>
                <TableRow>
                    <TableRowHeader>Частичен</TableRowHeader>
                    <TableRowCell>30 минути</TableRowCell>
                    <TableRowCell>20 лева (30 лева с карта мултиспорт)</TableRowCell>
                </TableRow>
                <TableRow>
                    <TableRowHeader>Спортен</TableRowHeader>
                    <TableRowCell>60 минути</TableRowCell>
                    <TableRowCell>50 лева (30 лева с карта мултиспорт)</TableRowCell>
                </TableRow>
            </TableBody>
        </Table>
    </Column>
</Row>

<Row Margin="Margin.Is4.FromTop">
    <Column ColumnSize="ColumnSize.Is8.Is2.WithOffset">
        <Heading Alignment="TextAlignment.Center">Тренировки</Heading>
        <Table>
            <TableHeader ThemeContrast="ThemeContrast.Light">
                <TableRow>
                    <TableHeaderCell>Вид тренировка</TableHeaderCell>
                    <TableHeaderCell>Продължителност</TableHeaderCell>
                    <TableHeaderCell>Цена</TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                <TableRow>
                    <TableRowHeader>Кросфит</TableRowHeader>
                    <TableRowCell>60 минути</TableRowCell>
                    <TableRowCell>10 лева</TableRowCell>
                </TableRow>
                <TableRow>
                    <TableRowHeader>Функционална</TableRowHeader>
                    <TableRowCell>60 минути</TableRowCell>
                    <TableRowCell>12 лева</TableRowCell>
                </TableRow>
                <TableRow>
                    <TableRowHeader>Боди пъмп</TableRowHeader>
                    <TableRowCell>60 минути</TableRowCell>
                    <TableRowCell>10 лева</TableRowCell>
                </TableRow>
            </TableBody>
        </Table>
    </Column>
</Row>
